<html>
    <head>
        <script src="/lib/p5/p5.min.js"></script>
        <script src="/lib/matter/matter.js"></script>
        <script src="/ref/carSoccer.js"></script>
        <style>
            html {
                background: #ccc;
            }

            canvas {
                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        </style>
    </head>
    <body>
    </body>
</html>