<html>
    <head>
    <script src="/lib/p5/p5.min.js"></script>
    <script src="/lib/p5/addons/p5.collide2d.js"></script> <!-- maybe remove later-->
    <script src="/lib/matter/matter.js"></script>
    <script src="/js/wall.js"></script>
    <script src="/js/parkingArea.js"></script>
    <script src="/js/parkingLot.js"></script>
    <script src="/js/entrance.js"></script>
    <script src="/js/exit.js"></script>
    <script src="/js/car.js"></script>
    <script src="/js/parking.js"></script>
    <body style="touch-action: auto; overflow: hidden; margin: 0%; padding: 0%;">
        
    </body>
    </head>
</html>