<html>
    <head>
    <script src="/lib/p5/p5.min.js"></script>
        <body style="touch-action: none; overflow: hidden; margin: 0%; padding: 0%;">
            <script>
                // (() => {
                //     window.__WEBVIEW_BRIDGE__ = {
                //         init: function() {
                //             try {
                //                 document.addEventListener('message', e => {
                //                     console.log(e);
                //                 })
                //             } catch(e) {
                //                 console.log(e);
                //             }
                //         }
                //     };
                //     window.__WEBVIEW_BRIDGE__.init();
                // })();

                // function getCookie(cookie_name) { 
                //     var x, y; 
                //     var val = document.cookie.split(';'); 
                //     for (var i = 0; i < val.length; i++) { 
                //         x = val[i].substr(0, val[i].indexOf('=')); 
                //         y = val[i].substr(val[i].indexOf('=') + 1); 
                //         x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기 
                //         if (x == cookie_name) { return unescape(y); // unescape로 디코딩 후 값 리턴 
                //         } 
                //     } 
                // }

                // alert(window.innerWidth + '  ' + window.innerHeight);
                // alert(getCookie('webView'));

                // e-avp 주차장 그리드 width 60, height 168
                /*
                    width 59 height 168
                    또는
                    width 168, height 59
                */
                
                // 가로에 대한 세로 비율
                /*
                    가로 168 세로 60일경우에는 60 / 168
                */
                let xGridCnt = 6;
                let yGridCnt = 10;

                // let xGridCnt = 60;
                // let yGridCnt = 168;

                let aspectRatio = yGridCnt/xGridCnt;
                let reverseAspectRatio = xGridCnt/yGridCnt;

                let cnvHeight = window.innerHeight * 0.95;
                let cnvWidth = cnvHeight * reverseAspectRatio;
                
                //let spacer;
                let spacer = cnvHeight / yGridCnt;

                //자연수 좌표계[(0,0) (1,1)....]를 canvas의 좌표계에 mapping한다. [(0,0) (5.55, 23.34)....]
                let xCordinates = [];
                let yCordinates = [];

                //canvas에 그려전 각 cell의 중심 좌표
                let xCenters = [];
                let yCenters = [];

                for(let x = 0; x < xGridCnt; x++) {
                    xCordinates.push(x * spacer);
                    xCenters.push(x * spacer + (spacer / 2));
                }

                for(let y = 0; y < yGridCnt; y++) {
                    yCordinates.push(y * spacer);
                    yCenters.push(y * spacer + (spacer / 2))
                }

                //test
                let jitter;

                let parkingAreas = [];
                let walls;

                function setup() {

                    let canvas = createCanvas(cnvWidth , cnvHeight);
                    canvas.position((window.innerWidth - cnvWidth) / 2, (window.innerHeight - cnvHeight) / 2);

                    //spacer = window.innerWidth / xGridCnt;
                    // noLoop();

                    jitter =  new Jitter();

                    // parkingArea set
                    
                    for(let i = 0; i < pStartPoints.length; i ++) {
                        parkingAreas.push(new ThreeByTwoPA(pStartPoints[i].x, pStartPoints[i].y));
                    }

                    // wall set
                    walls = new Wall();
                }

                // let xCount = 0;
                // let yCount = 0;

                // function mousePressed(event) {
                //     console.log(event);
                //     for(let i = 0; i < parkingAreas.length; i++){
                //         parkingAreas[i].clicked();
                //     }
                // }
                
                function draw() {
                    background(255);
                    
                    // 그리드 맵의 좌표 점찍기
                    for(let x = 0; x < width; x += spacer) {
                        for(let y = 0; y < (width * aspectRatio); y += spacer) {
                            stroke(20);
                            ellipse(x + spacer /2, y + spacer /2, 3, 3);
                        }
                    }
                    
                    // 그리드 맵의 선 그리기
                    for(let yLine = 0; yLine <= cnvHeight; yLine += spacer) {
                        stroke(0);
                        strokeWeight(0.5);
                        line(0, yLine, width, yLine);
                        line(yLine, 0, yLine, height);
                    }
                    strokeWeight(0.5);
                    line(width-1, 0, width-1, height-1);
                    line(0, height-1, width-1, height-1);

                    // jitter test
                    jitter.display();
                    jitter.move();

                    // parkingArea display
                    for(let i = 0; i < parkingAreas.length; i++) {
                        parkingAreas[i].display();
                    }

                    // walls display
                    walls.display();

                    //noLoop(); 
                }

                

                class Jitter {
                    constructor() {
                        this.x = random(width);
                        this.y = random(height);
                        this.diameter = random(10, 30);
                        this.speed = 1;
                    }

                    move() {
                        this.x += random(-this.speed, this.speed);
                        this.y += random(-this.speed, this.speed);
                    }

                    display() {
                        ellipse(this.x, this.y, this.diameter, this.diameter);
                    }
                }
                
                // parking area 시작 자연수 좌표
                const pStartPoints = [
                    {
                        x: 2,
                        y: 2
                    },
                    {
                        x: 2,
                        y: 4
                    },
                    {
                        x: 2,
                        y: 6
                    }
                ];
                
                // PA => Parking Area
                class ThreeByTwoPA {
                    constructor(x, y) {
                        this.startX = xCordinates[x];
                        this.startY = yCordinates[y];

                        this.width = xCordinates[x + 3] - xCordinates[x];
                        this.height = yCordinates[y + 2] - yCordinates[y];

                        this.lineCol = color(40, 199, 69);
                        this.col = color(115, 235, 125);
                    }
 
                    display() {
                        push();
                        stroke(this.lineCol);
                        //stroke(51);
                        fill(this.col);
                        strokeWeight(3);
                        let parkingRect = rect(this.startX, this.startY, this.width, this.height);
                        pop();
                    }

                    clicked() {
                        console.log('clicked'); 
                        this.col = color(255, 0, 200);   
                    }

                }

                const wallStartEndPoints =[
                    {
                        start: { x: 5, y: 0 },
                        end: { x: 5, y: 9 }
                    }
                ];

                class Wall {
                    contructor() {
                        this.walls = wallStartEndPoints;
                        this.wallsLength = wallStartEndPoints.length;
                    }

                    display() {
                        push();
                        for(let i = 0; i < wallStartEndPoints.length; i++) {
                            let wall = wallStartEndPoints[i]; 

                            for(let j = 0; j <= wall.end.x - wall.start.x; j++) {

                                for(let k = 0; k <= wall.end.y - wall.start.y; k++) {
                                    stroke(47, 48, 48);
                                    strokeWeight(2);
                                    fill(93, 97, 97);
                                    rect(xCordinates[wall.start.x + j], yCordinates[wall.start.y + k], spacer, spacer);
                                }

                            }

                        }
                        pop();
                    }
                }

            </script>
        </body>
    </head>
</html>